@{
  ViewData["Title"] = "New Message";
}

@model MessageClient.Models.Message

<h4>Post a new message</h4>

@if (User.Identity.IsAuthenticated)
{
  @using (Html.BeginForm())
  { 
    @Html.LabelFor(model => model.Group)
    @Html.TextBoxFor(model => model.Group)
    <br/>
    @Html.LabelFor(model => model.Content)
    @Html.TextBoxFor(model => model.Content)
    <br/>
    <input type="submit" value="Post Message" class="btn btn-primary"/>
  }
}
else
{
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to post a message.</p>
}
<br/>
<p>@Html.ActionLink("Back to messages", "Index")</p>