@{
  ViewData["Title"] = "Messages";
}

<h1>All Messages</h1>

<h4>Search</h4>
@using (Html.BeginForm("IndexSearch"))
{
  <p>Group</p>
  @Html.TextBox("group")
  <p>Min Time</p>
  @Html.TextBox("minimumPostDate")
  <p>Max Time</p>
  @Html.TextBox("maximumPostDate")
  <input type="submit" value="Search" class="btn btn-primary"/>
}
<ul>
@foreach (Message message in Model)
{
  <li>@message.Group</li>
  <li>@message.PostTime : <a href="/Messages/Details/@(message.MessageId)">@message.Content</a> - <strong>@message.user_name</strong></li>
}
</ul>

<p>@Html.ActionLink("Post a new message", "Create")</p>

@if (@ViewBag.PgNum != 1)
{
  @Html.ActionLink("Previous", "IndexPagination", new { pageNumModifier = -1, currentPage = @ViewBag.PgNum})
}
<p>@ViewBag.PgNum</p>
@if (@ViewBag.EmptyList)
{
  @Html.ActionLink("Next", "IndexPagination", new { pageNumModifier = 1, currentPage = @ViewBag.PgNum})
}

