@{
  ViewData["Title"] = "Messages";
}

<h1>All Messages</h1>
<ul>
@foreach (Message message in Model)
{
  <li>@message.Group</li>
  <li>@message.PostTime : <a href="/Messages/Details/@(message.MessageId)">@message.Content</a> - <strong>@message.user_name</strong></li>
}
</ul>

<p>@Html.ActionLink("Post a new message", "Create")</p>



